<h1 class="title ms-4">New game</h1>
<table class="ms-4">
  <tr>
    <% @letters.each do |letter| %>
      <td class="btn btn-primary m-3" style="cursor: default;"><%= letter %></td>
    <% end %>
  </tr>
</table>
<form action="attempt" data-turbo="false" class="form ms-4" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="mb-3 col-6">
    <label for="attempt" class="form-label">What's you guess ?</label>
    <input type="text" id="attempt" name="attempt" class="form-control">
  </div>
  <input type="submit" value="Try it" class="btn btn-primary">
</form>
